/* DEFAULT COLORS */
:root {
    --Light-FontColor: #FFFFFF;
    --Gray-Font: #6F6F6F;
    --DarkGray-Font: #4D4D4D;
    --Menu-Solid: #333333;
    --Button-Font: #313131;
    --Font-Family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

.hero {
    background-color: rgba(0, 0, 0, 1);
    color: var(--Light-FontColor);
}

.bg-image {
    background-image: url("../images/bg-hero.png");
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    height: 900px;
    /* filter: blur(5px); */
}

.bio {
    position: absolute;
    top: 40%;
    right: 20%;
    letter-spacing: 2px;
    font-family: var(--Font-Family);
}

/* HERO STYLE START  */
.intro {
    font-size: 50px;
}

/* TITLE ANIMATION */
.animated-txt {
    overflow: hidden;
    /* Keeps content revealing until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.6s steps(40, end),
        blink-caret .80s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

/* TITLE ANIMATION END */
.hero button {
    background-color: transparent;
    color: var(--Light-FontColor);
    font-family: var(--Font-Family);
    font-size: 20px;
    border: 2px solid var(--Light-FontColor);
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.hero button:hover {
    background-color: var(--Gray-Font);
}

/* HERO STYLE END */

/* STYLES START */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px 35px;
    background-color: black;
    align-items: center;
    z-index: 9999;
}

header img {
    margin-right: 400px;
}

header a {
    color: var(--Light-FontColor);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    padding: 10px;
    /* border: 1px solid var(--Gray-Font); */
    margin-right: 8px;
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    /* margin-left: 50px; */
}

.menu a:hover {
    background-color: var(--Gray-Font);
    border: 10px solid var(--Gray-Font);
    text-decoration: underline;
    line-height: 2;
}

/* ABOUT STYLES START */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(#000, #000) center/2px 80% no-repeat;
    grid-gap: 16px;
    padding: 60px;
}

.grid-item {
    margin: 100px;
}

.title {
    color: var(--DarkGray-Font);
    font-family: var(--Font-Family);
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 40px;
}

.description {
    color: var(--Gray-Font);
    font-family: var(--Font-Family);
    font-size: large;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-top: 40px;
}

.secondary-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
}

.project {
    flex: 30%;
    max-width: 40%;
    padding: 0 4px;
}

.project img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.project img:hover {
    position: relative;
    top: -35px;
    left: -2px;
    right: -35px;
    bottom: -35px;
    width: 500px;
    height: auto;
    z-index: 2;
}


/* TITLE BORDERS */
#about h1 {
    border-top: 4px solid var(--DarkGray-Font);
    border-image: linear-gradient(to right, var(--DarkGray-Font) 27%, transparent 10%) 100% 1;
}

#portfolio h1 {
    text-align: center;
    border-bottom: 4px solid var(--DarkGray-Font);
    margin-left: 40%;
    margin-right: 40%;
    line-height: 1.4;
    margin-bottom: 60px;
}

#contact h1 {
    text-align: center;
    color: var(--Light-FontColor);
    border-bottom: 4px solid var(--Gray-Font);
    margin-left: 40%;
    margin-right: 40%;
    line-height: 1.4;
    margin-top: 10%;
    padding-top: 8%;
}

.contact-container {
    background-color: #000;
    background-image: url(../images/bg-footer.jpg);
    background-position: 0px 600px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30%;
    padding-bottom: 10%;
    justify-content: center;
    margin-top: 8%;
}

.name-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--Button-Font);
    border-radius: 4px;
    display: flex;
    padding: 7px 15px;
    font-size: 16px;
    font-family: var(--Font-Family);
    color: var(--DarkGray-Font);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.828);
}

.contact-form textarea {
    width: 532px;
    height: 200px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: #fff;
    outline: none;
}

.contact-form button {
    width: 40%;
    border: none;
    border-radius: 2px;
    background: var(--Light-FontColor);
    color: var(--Button-Font);
    text-align: center;
    padding: 16px 0;
    margin-top: 10px;
    font-size: 16px;
    font-family: var(--Font-Family);
    letter-spacing: 2px;
}

.contact-form button:hover {
    background-color: var(--DarkGray-Font);
    color: var(--Light-FontColor);
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    font-size: 40px;
    text-decoration: none;
}

footer div {
    display: flex;
    justify-content: space-around;
}

.footer-icons a {
    margin: 0;
}

.footer-icons i {
    color: var(--Gray-Font);
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.footer-icons i:hover {
    color: var(--Light-FontColor);
}

/* RESPONSIVE DESIGN RULES START */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* @media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-cta,
    .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

    footer h2,
    footer div {
        text-align: center;
        width: 100%;
    }
} */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
} */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info>* {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
} */